<section>
    <h1> Contáctanos </h1>
    <div class="contact-container">
        <section class="contact-intro">
            <h2>¿Tenés alguna pregunta?</h2>
            <p>Contactanos a través del formulario o cualquiera de nuestras vías de comunicación.
            </p>
            <ul>
                <li><strong>WhatsApp:</strong> <a href="#">+54 9 383 49999999999</a></li>
                <li><strong>Correo electrónico:</strong> <a href="#">contacto@bibliotecasuperheroes.com</a></li>
                <li><strong>Instagram:</strong> <a href="#">@bibliotecasuperheroes</a></li>
                <li><strong>Ubicación:</strong> San Fernando del Valle de Catamarca, Argentina</li>
            </ul>
        </section>
        <form class="contact-form">
            <label for="name">Nombre completo</label>
            <input type="text" id="name" name="name" required minlength="3" placeholder="Ej. Leila Margarita" />

            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" required placeholder="Ej. contacto@tusitio.com" />

            <label for="subject">Asunto</label>
            <input type="text" id="subject" name="subject" required placeholder="¿Sobre qué querés hablar?" />

            <label for="message">Mensaje</label>
            <textarea id="message" name="message" required rows="5" placeholder="Contanos en detalle..."></textarea>

            <button type="submit">Enviar mensaje</button>
        </form>
    </div>

</section>