<section>
    <h1> Bienvenidos a la Biblioteca Más Grande de Superhéroes </h1>
    <p class="principal-section"> 
Sumergite en el universo más extraordinario jamás reunido: un archivo vivo que celebra la historia, los poderes, las hazañas y los orígenes de miles de superhéroes que han marcado generaciones. Aquí no solo preservamos la memoria de los más legendarios, sino que también damos lugar a nuevos talentos y héroes emergentes en cada rincón del multiverso.
 </p>
</section>