<nav>

    <div class="navbar">
        <a href="/">
            <img src="/images/logosh.png" alt="Logo" class="logo">
        </a>
        <ul>
            <!-- Estructura fija del navbar los enlaces ya no depende de datos dinámicos -->
            <li>
                <a href="/">
                    <img src="/icons/home.svg" alt="Inicio Icon">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/api/heroes">
                    <img src="/icons/list.svg" alt="Superhéroe">
                    Listado de Superhéroes
                </a>
            </li>
            <li>
                <a href="/api/formAgregarHeroe">
                    <img src="/icons/add.svg" alt="Superhéroe">
                    Agregar Nuevo Superhéroe
                </a>
            </li>
            <li>
                <a href="/about">
                    <img src="/icons/info.svg" alt="Acerca de Icon">
                    Acerca de
                </a>
            </li>
            <li>
                <a href="/contact">
                    <img src="/icons/contact.svg" alt="Contacto Icon">
                    Contacto
                </a>
            </li>
        </ul>
    </div>
</nav>